body {
  background-color: #4c4e33;
  color: #fff;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;   
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;               
}

/* Modal */
#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.hidden {
  display: none !important;
}
.modal-content {
  background: #1e1e1e;
  color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  max-width: 400px;
  width: 90%;
  text-align: center;
  position: relative;
  animation: fadeUp 0.4s ease-out;
}

#closeBtn {
  position: absolute;
  top: 12px;
  right: 18px;
  font-size: 1.5rem;
  cursor: pointer;
}
